body{
  background-color: #941a1f;
  background: linear-gradient(#941a1f, #cf7623);
}

nav{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80%;
}

img{
  max-width: 750px;
  max-height: 480px;
  margin-right: 50px;
}

button{
  border:none;
  background-color: transparent;
  color:green;
  font-size: 30px;
}

#slide-show{
  height: 1200px;
  width: 800px;
  left: 50%;
  top: 30%;
  position: absolute;
  margin-left: -250px;
  margin-top: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFCF2;
  border-radius: 20px;
  --current-slide: 0;
  overflow: hidden;
}


#carousel{
  transition:0.5s;
  transform: translateX(calc(-20%*var(--current-slide)));
  display: flex;
  position: absolute;
  left: 28%;
  top:23%;
}

#carousel > *{
  margin-left: 30px;
  margin-right: 30px;
}

#carousel >:last-child{
  transform: rotate(180deg);
}

.circle{
  color:#941a1f;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #941a1f;
  margin-left: 7px;
  margin-right: 7px;
}




