body{
  background-color: #941a1f;
  display: flex;
  justify-content: space-evenly;
}

nav{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80%;
}

img{
  max-width: 750px;
  max-height: 480px;
}

button{
  margin-top: 50%;
  max-width: 50px;
  max-height: 50px;
  border-style: none;
  background-color: transparent;
  color:#FEFCF2;
  font-size: 60px;
}

#canvas{
  display: flex;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -250px;
  margin-top: -250px;
  overflow: hidden;
}

#slide-show{
  height: 1200px;
  width: 800px;
  margin-right: 2vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFCF2;
  border-radius: 20px;
  --current-slide: 0;
}


#carousel{
  margin-right: 2vw;
  margin-left: 2vw;
  transition:0.5s;
  transform: translateX(calc(-20%*var(--current-slide)));
  display: flex;
  position: absolute;
  left: 28%;
  top:23%;
}

#carousel > *{
  margin-left: 30px;
  margin-right: 800px;
}

#carousel >:last-child{
  transform: rotate(180deg);
}

.circle{
  color:#941a1f;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: #941a1f;
  margin-left: 7px;
  margin-right: 7px;
}




